<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form" >
  <fieldset class="form__fieldset">
    <legend class="form__title">{{ formTitle() }}</legend>

    <div class="form__field field">
      <label class="field__label" for="nick">Username</label>
      <input class="field__input" type="text" id="nick" formControlName="nick" appValidationError required [ngClass]="{'field__input--blur': loading()}">
    </div>

    <div class="form__field field">
      <label class="field__label" for="firstName">First Name</label>
      <input class="field__input" type="text" id="firstName" formControlName="firstName" appValidationError required [ngClass]="{'field__input--blur': loading() }">
    </div>

    <div class="form__field field">
      <label class="field__label" for="lastName">Last Name</label>
      <input class="field__input" type="text" id="lastName" formControlName="lastName" appValidationError required [ngClass]="{'field__input--blur': loading() }">
    </div>

    <div class="form__field field">
      <label class="field__label" for="email">Email</label>
      <input class="field__input" type="text" id="email" formControlName="email" appValidationError required [ngClass]="{'field__input--blur': loading() }">
    </div>

    <div class="form__field field">
      <label class="field__label" for="type">Type</label>
      <select class="field__select"  id="type" formControlName="type" appValidationError required [ngClass]="{'field__select--blur': loading() }">
        <option *ngFor="let type of userTypes" [value]="type" class="field__option">{{ type }}</option>
      </select>
    </div>

    <div class="form__field field">
      <label class="field__label" for="password">Password</label>
      <input class="field__input" type="text" id="password" formControlName="password" appValidationError required [ngClass]="{'field__input--blur': loading() }">
    </div>

    <div class="form__field field">
      <label class="field__label" for="repeatPassword">Repeat password</label>
      <input class="field__input" type="text" id="repeatPassword" formControlName="repeatPassword" required [ngClass]="{'field__input--error': userForm.controls['repeatPassword'].touched && (userForm.controls['repeatPassword'].errors || userForm.controls['repeatPassword'].value !== userForm.controls['password'].value), 'field__input--blur': loading() }">
      <div class="field__error" *ngIf=" userForm.controls['repeatPassword'].touched && (userForm.controls['repeatPassword'].errors || userForm.controls['repeatPassword'].value !== userForm.controls['password'].value)">Error:
        <span *ngIf="userForm.get('repeatPassword')?.getError('required')">required </span>
        <span *ngIf="userForm.controls['repeatPassword'].value !== userForm.controls['password'].value">the entered password doesn't match the original password </span>
      </div>
    </div>

    <button type="submit" class="form__submit btn" *ngIf="formState() === FormState.create; else buttons" [disabled]="userForm.invalid">Create</button>

    <ng-template #buttons>
      <div class="form__buttons">
        <button type="button" class="form__delete btn" (click)="onDelete()" [disabled]="userForm.invalid">Delete</button>
        <button type="submit" class="form__save btn" [disabled]="userForm.invalid">Save</button>
      </div>
    </ng-template>
  </fieldset>
</form>
