<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form">
  <fieldset class="form__fieldset">
    <legend class="form__title">{{ formState() === FormState.edit ? editFormTitle() : 'Create new user' }}</legend>

    <div class="form__field field">
      <label class="field__label" for="nick">Username</label>
      <input class="field__input" type="text" id="nick" formControlName="nick" required [ngClass]="{'field__input--error': userForm.controls['nick'].touched && userForm.controls['nick'].errors, 'field__input--blur': loading() }">
      <div class="field__error" *ngIf=" userForm.controls['nick'].touched && userForm.controls['nick'].errors">Error:
        <span *ngIf="userForm.get('nick')?.getError('required')">required </span>
        <span *ngIf="userForm.get('nick')?.getError('pattern')">minlength {{ userForm.get('nick')?.getError('pattern')?.['requiredPattern'].slice(3, -4) }} </span>
        <span *ngIf="userForm.get('nick')?.getError('minlength')">minlength {{ userForm.get('nick')?.getError('minlength')?.['requiredLength'] }} </span>
      </div>
    </div>

    <div class="form__field field">
      <label class="field__label" for="firstName">First Name</label>
      <input class="field__input" type="text" id="firstName" formControlName="firstName" required [ngClass]="{'field__input--error': userForm.controls['firstName'].touched && userForm.controls['firstName'].errors, 'field__input--blur': loading() }">
      <div class="field__error" *ngIf=" userForm.controls['firstName'].touched && userForm.controls['firstName'].errors">Error:
        <span *ngIf="userForm.get('firstName')?.getError('required')">required </span>
        <span *ngIf="userForm.get('firstName')?.getError('pattern')">only {{ userForm.get('firstName')?.getError('pattern')?.['requiredPattern'].slice(3, -4) }} </span>
      </div>
    </div>

    <div class="form__field field">
      <label class="field__label" for="lastName">Last Name</label>
      <input class="field__input" type="text" id="lastName" formControlName="lastName" required [ngClass]="{'field__input--error': userForm.controls['lastName'].touched && userForm.controls['lastName'].errors, 'field__input--blur': loading() }">
      <div class="field__error" *ngIf=" userForm.controls['lastName'].touched && userForm.controls['lastName'].errors">Error:
        <span *ngIf="userForm.get('lastName')?.getError('required')">required </span>
        <span *ngIf="userForm.get('lastName')?.getError('pattern')">only {{ userForm.get('lastName')?.getError('pattern')?.['requiredPattern'].slice(3, -4) }} </span>
      </div>
    </div>

    <div class="form__field field">
      <label class="field__label" for="email">Email</label>
      <input class="field__input" type="text" id="email" formControlName="email" required [ngClass]="{'field__input--error': userForm.controls['email'].touched && userForm.controls['email'].errors, 'field__input--blur': loading() }">
      <div class="field__error" *ngIf=" userForm.controls['email'].touched && userForm.controls['email'].errors">Error:
        <span *ngIf="userForm.get('email')?.getError('required')">required </span>
        <span *ngIf="userForm.get('email')?.getError('email')">isn't e-mail </span>
      </div>
    </div>

    <div class="form__field field">
      <label class="field__label" for="type">Type</label>
      <select class="field__select"  id="type" formControlName="type" required [ngClass]="{'field__select--error': userForm.controls['type'].touched && userForm.controls['type'].errors, 'field__select--blur': loading() }">
        <option *ngFor="let type of userTypes" [value]="type" class="field__option">{{ type }}</option>
      </select>
      <div class="field__error" *ngIf=" userForm.controls['type'].touched && userForm.controls['type'].errors">Error:
        <span *ngIf="userForm.get('type')?.getError('required')">required </span>
      </div>
    </div>

    <div class="form__field field">
      <label class="field__label" for="password">Password</label>
      <input class="field__input" type="text" id="password" formControlName="password" required [ngClass]="{'field__input--error': userForm.controls['password'].touched && userForm.controls['password'].errors, 'field__input--blur': loading() }">
      <div class="field__error" *ngIf=" userForm.controls['password'].touched && userForm.controls['password'].errors">Error:
        <span *ngIf="userForm.get('password')?.getError('required')">required </span>
        <span *ngIf="userForm.get('password')?.getError('pattern')?.['requiredPattern']?.includes('(?=.*[A-Z])')">one uppercase letter </span>
        <span *ngIf="userForm.get('password')?.getError('pattern')?.['requiredPattern']?.includes('(?=.*[a-z])')">one lower letter </span>
        <span *ngIf="userForm.get('password')?.getError('pattern')?.['requiredPattern']?.includes('(?=.*\\d)')">one number </span>
        <span *ngIf="userForm.get('password')?.getError('pattern')?.['requiredPattern']?.includes('(?=.*[@#$!%*?&])')">one symbol @#$!%*?& </span>
      </div>
    </div>

    <div class="form__field field">
      <label class="field__label" for="repeatPassword">Repeat password</label>
      <input class="field__input" type="text" id="repeatPassword" formControlName="repeatPassword" required [ngClass]="{'field__input--error': userForm.controls['repeatPassword'].touched && (userForm.controls['repeatPassword'].errors || userForm.controls['repeatPassword'].value !== userForm.controls['password'].value), 'field__input--blur': loading() }">
      <div class="field__error" *ngIf=" userForm.controls['repeatPassword'].touched && (userForm.controls['repeatPassword'].errors || userForm.controls['repeatPassword'].value !== userForm.controls['password'].value)">Error:
        <span *ngIf="userForm.get('repeatPassword')?.getError('required')">required </span>
        <span *ngIf="userForm.controls['repeatPassword'].value !== userForm.controls['password'].value">the entered password doesn't match the original password </span>
      </div>
    </div>

    <button type="submit" class="form__submit btn" *ngIf="formState() === FormState.create; else buttons" [disabled]="userForm.invalid">Create</button>

    <ng-template #buttons>
      <div class="form__buttons">
        <button type="button" class="form__delete btn" (click)="onDelete()" [disabled]="userForm.invalid">Delete</button>
        <button type="button" class="form__submit btn" (click)="onSave()" [disabled]="userForm.invalid">Save</button>
      </div>
    </ng-template>
  </fieldset>
</form>
