.scrollbar::-webkit-scrollbar{
  width: 8px;
  height: 8px;

  &-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
  }
  &-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
  }
  &-thumb:hover {
    background: #fff;
  }
  &-thumb:active{
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }
}
