:root{
  //background
  --bg-page: #EEF0F8;
  --bg-component: #FFFFFF;
  --bg-users-item: #F4F5F8;
  --bg-users-item-hover: #EFF0F4;
  --bg-form-input: #F3F6F9;

  --bg-msg-error: #EF7DA0;
  --bg-msg-success: #66BB6A;

  --bg-btn-primary: #2E8FF0;
  --bg-btn-secondary: #F44682;

  //text
  --txt-primary: #3F4254;
  --txt-secondary: #A4A4B5;
  --txt-accent: #FFFFFF;

  //shadow
  --shadow-component: 0px 0px 30px #523F690D;
  --shadow-btn-primary: 0px 5px 8px #2E8FF029;
  --shadow-btn-secondary: 0px 5px 8px #F4468229;
  --shadow-msg-error: 0px 10px 15px #EF7DA05C;
  --shadow-msg-success: 0px 10px 15px #4CAF505C;
}




