:root{
//font-weight

  --weight-S: 300;
  --weight-M: 400;
  --weight-L: 700;

//font-size

  --size-S: 13px;
  --size-M: 14px;
  --size-L: 16px;

//line-height

  --height-S: 16px;
  --height-M: 17px;
  --height-L: 19px;
}

