.table {
  background-color: var(--bg-component);
  border-spacing: 0;
  width: 100%;
  padding-bottom: 78px;
  box-shadow: var(--shadow-component);
  border-radius: 6px;

  &__head{
    color: var(--txt-secondary);
    position: sticky;
    top: 0;
  }

  &__body{
    display: block;
    overflow-y: auto;
    max-height: 578px;
    overflow-x: hidden;
  }

  &__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: start;

    &--body{
      background-color: var(--bg-users-item);

      &:hover{
        cursor: pointer;
        background-color: var(--bg-users-item-hover);
        transition: var(--all-default);
      }

      &:not(:last-child){
        margin-bottom: 2px;
      }
    }

    &--selected{
      background-color: var(--bg-users-item-hover);
    }
  }

  &__item{
    &--head{
      padding: 24px 5px 15px;
    }

    &--head:last-child{
      padding-right: 26px;
    }

    &--head:first-child{
      padding-left: 26px;
    }

    &--body{
      padding: 22px 5px 21px;
      width: 100%;
    }

    &--body:last-child{
      padding-right: 26px;
    }

    &--body:first-child{
      padding-left: 26px;
    }

    &--text{
      height: var(--size-S);
    }
  }
}

.skeleton{
  background: var(--txt-secondary);
  border-radius: 2px;

  &:after{
    height: var(--size-S);
  }
}
